{#
#
# (c) Copyright 2016 Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
# Cronjob that runs diags and emits json to be reaped by monasca monitor
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=""
*/7 * * * * root /usr/local/bin/cinder_diag --cinder-capacity --json > {{ cinder_monitor_json_dir }}/cinder_capacity_diag.log 2>&1 && mv {{ cinder_monitor_json_dir }}/cinder_capacity_diag.log {{ cinder_monitor_json_dir }}/capacity_diag.json
*/3 * * * * root /usr/local/bin/cinder_diag --cinder-services --json > {{ cinder_monitor_json_dir }}/cinder_services_diag.log 2>&1 && mv {{ cinder_monitor_json_dir }}/cinder_services_diag.log {{ cinder_monitor_json_dir }}/cinder_services_diag.json
