{#
#
# (c) Copyright 2016 Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
# HLM-4423 This test covers the most services to tell if we are up and we currently
# do not have the time to expand on this, as upgrade takes a long time.

# Volume + Compute + ssh verification
+tempest\.api\.volume\.test_volumes_actions\.VolumesV2ActionsTest\.test_attach_detach_volume_to_instance
