#jinja2: newline_sequence:'\r\n'
{#
#
# (c) Copyright 2016 Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}

[DEFAULT]
python_path = {{ [win_helion_dir, win_service, build_url.svc_dir, win_service,
    'scripts', 'python.exe'] | join(path_separator) }}
script_path = {{ [win_helion_dir, win_service, build_url.svc_dir, win_service,
    'scripts', 'nova-compute-script.py'] | join(path_separator) }}
service_name = {{ win_service_name }}
confs = --config-file,{{ win_nova_conf_path }},--config-file,{{
        win_hypervisor_conf_path }},--config-file,{{ win_compute_conf_path
        }}
