{#
#
# (c) Copyright 2015, 2016 Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
{{ interface_file_marker }}
auto {{ item.device }}
{% include 'if_ipinfo_Debian.j2' %}
{% if disable_lro %}
  pre-up ethtool -K {{ item.device }} lro off || true
{% endif %}
{% if item.ovs_bridge is defined or item.pci_pt is defined or item.sriov_only is defined %}
  up ip link set {{ item.device }} up || true
{% endif %}
{% if item.mtu is defined %}
  post-up ip link set dev {{ item.device }} mtu {{ item.mtu }} || true
{% endif %}

{% include 'if_routes_Debian.j2' %}
