{#
# (c) Copyright 2016 Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}

[log-tailer]
tailed_log_file={{ swift_logs_dir }}/swift.log
metric_file={{ access_tailer_metrics }}
interval=60
monasca_agent_interval=30
reseller_prefixes=AUTH_

[logging]
log_level = info
log_facility = LOG_LOCAL0
log_format = '%(name)s: %(message)s'
